In [1]:
import pandas as pd
import pandas
import numpy as np
import glob
import csv

In [11]:
listing = pandas.read_csv('cleanedTable/listing.csv')

In [12]:
listing.drop(listing.columns[0],axis=1,inplace=True)

In [25]:
listing['extra_people'] = listing['extra_people'].replace(-999,'')

In [27]:
listing['monthly_price'] = listing['monthly_price'].str.replace('$','')

In [31]:
listing.to_csv("cleanedTable/listing.csv",index=False)

In [85]:
listings = pandas.read_csv('cleanedTable/listings.csv')

In [32]:
host = pd.read_csv("cleanedTable/host.csv")
host.drop(host.columns[0],axis=1,inplace=True)
host = host.drop_duplicates()

In [35]:
host['host_response_rate'] =host['host_response_rate'].replace(-999,'')

In [36]:
host.to_csv("cleanedTable/host.csv",index=False)

In [37]:
reviewer = pd.read_csv("cleanedTable/reviewer.csv")

In [41]:
reviewer['reviewer_name'] = reviewer['reviewer_name'].str.replace('\n',' ')

In [44]:
reviewer.drop(reviewer.columns[0],axis=1,inplace=True)

In [45]:
reviewer.to_csv("cleanedTable/reviewer.csv",index=False)

In [49]:
sum(reviewer['reviewer_name'].isnull()==True)

1

In [52]:
listing = pd.read_csv("cleanedTable/listing.csv")

In [53]:
listing[]

,id,host_id,review_scores_rating,cleaning_fee,minimum_nights,square_feet,review_scores_cleanliness,review_scores_accuracy,review_scores_value,review_scores_location,...,extra_people,longitude,latitude,cancellation_policy_id,room_type_id,bed_type_id,property_type_id,neighbourhood_id,city_id,country_id
count,4.208300e+04,4.208300e+04,34437.000000,31549.000000,42083.000000,1208.000000,34414.000000,34410.000000,34382.000000,34384.000000,...,42083.000000,42083.000000,42083.000000,42083.000000,42083.000000,42083.000000,42083.000000,42083.000000,42083.000000,42083.000000
mean,1.629816e+07,6.049882e+07,92.931469,33.772449,6.968942,440.126656,9.342651,9.539843,9.249491,9.545690,...,8.707720,4.833688,45.463209,0.999739,0.462087,0.027992,0.760663,85.216810,9.637288,0.392130
std,8.982385e+06,6.486029e+07,8.372881,36.294078,32.797299,552.770574,0.988168,0.844191,0.906717,0.739727,...,12.627263,7.254314,5.672454,0.797330,0.519023,0.225033,2.660054,55.552952,7.083950,0.488231
min,2.015000e+03,2.217000e+03,20.000000,0.000000,1.000000,0.000000,2.000000,2.000000,2.000000,2.000000,...,0.000000,-3.835498,40.326280,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,8.261768e+06,8.028055e+06,90.000000,10.000000,1.000000,0.000000,9.000000,9.000000,9.000000,9.000000,...,0.000000,-3.678696,40.433806,0.000000,0.000000,0.000000,0.000000,19.000000,0.000000,0.000000
50%,1.791427e+07,3.324920e+07,95.000000,25.000000,2.000000,269.000000,10.000000,10.000000,9.000000,10.000000,...,5.000000,2.174146,41.397817,1.000000,0.000000,0.000000,0.000000,81.000000,10.000000,0.000000
75%,2.387307e+07,1.005854e+08,99.000000,49.000000,3.000000,732.000000,10.000000,10.000000,10.000000,10.000000,...,15.000000,13.396357,52.497039,2.000000,1.000000,0.000000,0.000000,135.000000,17.000000,1.000000
max,2.986842e+07,2.246002e+08,100.000000,550.000000,5000.000000,5167.000000,10.000000,10.000000,10.000000,10.000000,...,260.000000,13.721424,52.651670,5.000000,2.000000,4.000000,30.000000,223.000000,26.000000,1.000000

In [81]:
int_col = ['id','host_id','room_type_id','bed_type_id','city_id','country_id','neighbourhood_id','property_type_id',
           'minimum_nights','cancellation_policy_id','review_scores_rating','review_scores_cleanliness','review_scores_accuracy',
       'review_scores_value','review_scores_location','review_scores_checkin','review_scores_communication','accommodates',
           'maximum_nights','guests_included','bathrooms','bedrooms']

In [ ]:
listing['bedrooms']

In [85]:
listing[int_col] = listing[int_col].fillna(-999).astype('int')

In [87]:
listing[int_col] = listing[int_col].replace(-999,'')

In [93]:
listing['security_deposit'] = listing['security_deposit'].replace('-999','')

In [94]:
listing.to_csv("cleanedTable/listing.csv",index=False)

In [ ]:
#listing[int_col] = listing[int_col].apply(lambda col: col.apply(lambda x: int(x) if pd.notnull(x) else x), axis=1)

In [74]:
listing.to_csv("cleanedTable/listing.csv",index=False)

In [56]:
listing[['minimum_nights','cancellation_policy_id']] = listing[['minimum_nights','cancellation_policy_id']].round()

In [ ]:
host host id ronghe!!!!!!!!!!!!!!!!!!!!

In [50]:
reviews = pd.read_csv("cleanedTable/reviews.csv")

In [51]:
sum(reviews['reviewer_name'].isnull()==True)

1

In [42]:
sum(reviewer['reviewer_name'].str.contains('\n')==True)

0

In [10]:
bed_col = ['id', 'bed_type']
#bed_id_type = listings[bed_col].drop_duplicates().to_csv("cleanedTable/bed_type.csv",index=False)
bed_id_type = listings[bed_col].drop_duplicates()

In [ ]:
bed_id_type.head()

In [12]:
bed_type = listings['bed_type'].drop_duplicates()

In [17]:
bed_type.to_frame().to_csv("cleanedTable/bed_type.csv",index=False)

In [26]:
bed_type_df = pd.read_csv("cleanedTable/bed_type.csv")

In [29]:
bed_type_df['bed_type_id'] = bed_type_df.index

In [36]:
bed_type_df = bed_type_df[['bed_type_id', 'bed_type']]

In [40]:
bed_type_df.to_csv("cleanedTable/bed_type.csv",index=False)

In [ ]:
bed_id_type.head()

In [42]:
hasBedtype = pd.merge(bed_id_type, bed_type_df, on='bed_type')

In [ ]:
hasBedtype = hasBedtype.drop(columns='bed_type')

In [51]:
hasBedtype.to_csv("cleanedTable/hasBedtype.csv",index=False)

In [53]:
room_type = pd.read_csv('cleanedTable/room_type.csv')
room_type['room_type_id'] = room_type.index
room_type = room_type[['room_type_id', 'room_type']]

In [55]:
room_type.to_csv("cleanedTable/room_type.csv",index=False)

In [56]:
room_col = ['id', 'room_type']
#bed_id_type = listings[bed_col].drop_duplicates().to_csv("cleanedTable/bed_type.csv",index=False)
hasRoomtype = listings[room_col].drop_duplicates()

In [59]:
hasRoomtype = pd.merge(hasRoomtype, room_type, on='room_type')

In [61]:
hasRoomtype.drop(columns='room_type').to_csv("cleanedTable/hasRoomtype.csv",index=False)

In [63]:
property_type = pd.read_csv('cleanedTable/property_type.csv')
property_type['property_type_id'] = property_type.index

In [65]:
property_type = property_type[['property_type_id', 'property_type']]
property_type.to_csv("cleanedTable/property_type.csv",index=False)
property_col = ['id', 'property_type']
#bed_id_type = listings[bed_col].drop_duplicates().to_csv("cleanedTable/bed_type.csv",index=False)
hasPropertype = listings[property_col].drop_duplicates()
hasPropertype = pd.merge(hasPropertype, property_type, on='property_type')
hasPropertype.drop(columns='property_type').to_csv("cleanedTable/hasPropertype.csv",index=False)

In [117]:
cancellation = listings['cancellation_policy'].drop_duplicates().reset_index()
cancellation_policy = cancellation#.to_frame()#.reset_index()#.to_csv("cleanedTable/cancellation_type.csv",index=False)

In [ ]:
cancellation_policy = cancellation_policy.drop(columns='index')

In [124]:
#property_type = pd.read_csv('cleanedTable/property_type.csv')
cancellation_policy['cancellation_policy_id'] = cancellation_policy.index
cancellation_policy = cancellation_policy[['cancellation_policy_id', 'cancellation_policy']]
cancellation_policy.to_csv("cleanedTable/cancellation_policy.csv",index=False)
cancellation_policy_col = ['id', 'cancellation_policy']
#bed_id_type = listings[bed_col].drop_duplicates().to_csv("cleanedTable/bed_type.csv",index=False)
hasCancellation = listings[cancellation_policy_col].drop_duplicates()
hasCancellation = pd.merge(hasCancellation, cancellation_policy, on='cancellation_policy')
hasCancellation.drop(columns='cancellation_policy').to_csv("cleanedTable/hasCancellation.csv",index=False)

In [126]:
own_col = ["id","host_id","review_scores_rating", "cleaning_fee", 
"minimum_nights", "square_feet", "review_scores_cleanliness", "review_scores_accuracy", 
"review_scores_value", "review_scores_location", "require_guest_phone_verification",
"price", "accommodates", "security_deposit",
"review_scores_checkin", "review_scores_communication", "maximum_nights", "guests_included",
"monthly_price", "bathrooms", "bedrooms", "weekly_price", "extra_people",
"property_type","is_business_travel_ready",
"longitude", "latitude", "cancellation_policy", "house_rules", "summary", "transit", "amenities",
"space", "access", "neighborhood_overview", "picture_url", "notes"]

In [92]:
listings = pandas.read_csv('cleanedTable/listings.csv')

In [98]:
listings[own_col].to_csv("cleanedTable/own.csv",index=False)

In [127]:
own = listings[own_col]

In [40]:
listings['property_type'].to_frame().drop_duplicates().to_csv("cleanedTable/property_type.csv",index=False)

In [41]:
listings['room_type'].to_frame().drop_duplicates().to_csv("cleanedTable/room_type.csv",index=False)

In [42]:
calendar = pandas.read_csv('cleanedTable/calendar.csv')

In [ ]:
# amenities

In [2]:
listing = pd.read_csv("cleanedTable/listing.csv")

In [3]:
col_amenities = ['id', 'amenities']
amen = listing[col_amenities]

In [5]:
amen['amenities'] = amen['amenities'].str.replace('{', '')
amen['amenities'] = amen['amenities'].str.replace('}', '')
amen['amenities'] = amen['amenities'].str.replace('"', '')

/home/cuimingbo/software/anaconda/lib/python3.6/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.
/home/cuimingbo/software/anaconda/lib/python3.6/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

/home/cuimingbo/software/anaconda/lib/python3.6/site-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [7]:
s=['amenities']
amen1=amen.drop(columns=s,axis=1)
for x in s:
    amen1=amen1.join(amen[x].str.split(',',expand=True).stack().reset_index(level=1,drop=True).rename(x))
amen1=amen1.reset_index(drop=True)

In [2]:
listing = pd.read_csv("/home/cuimingbo/Downloads/database_data/listing.csv")

In [3]:
listing = listing.drop(columns='amenities')

In [10]:
listing_amen = pd.merge(listing, amen1, on="id")

In [11]:
amenities_type = pd.read_csv("cleanedTable/amenities_type.csv")

In [13]:
listing_amen = pd.merge(listing_amen, amenities_type, on="amenities")

In [17]:
listing_amen = listing_amen.drop(columns='amenities')

In [4]:
listing_amen = listing

In [5]:
listing_amen['cleaning_fee'] = listing_amen['cleaning_fee'].str.replace('$','')

In [6]:
listing_amen['cleaning_fee'] = listing_amen['cleaning_fee'].fillna(-999)

In [7]:
listing_amen['price'] = listing_amen['price'].str.replace('$','')
listing_amen['price']  = listing_amen['price'] .fillna(-999)

In [8]:
listing_amen['security_deposit'] = listing_amen['security_deposit'].str.replace('$','')
listing_amen['security_deposit'] = listing_amen['security_deposit'].fillna(-999)

In [9]:
listing_amen['extra_people'] = listing_amen['extra_people'].str.replace('$','')
listing_amen['extra_people'] = listing_amen['extra_people'].fillna(-999)

In [11]:
listing_amen.to_csv("cleanedTable/listing.csv")

In [12]:
host = pd.read_csv("cleanedTable/host.csv")

In [16]:
host['host_response_rate'] = host['host_response_rate'].str.replace('%','')

In [19]:
host['host_response_rate'] = host['host_response_rate'].str.replace('-1','-999')

In [21]:
host.to_csv("cleanedTable/host.csv")

In [266]:
amen_type = amen1['amenities'].drop_duplicates().to_frame().reset_index()
amen_type = amen_type.drop(columns='index').reset_index().rename(columns={'index': 'amenities_id'})

In [267]:
amen_type.to_csv("cleanedTable/amenities_type.csv",index=False)

In [268]:
hasAmenities = pd.merge(amen1, amen_type, on='amenities')
hasAmenities.drop(columns='amenities').to_csv("cleanedTable/hasAmenities.csv",index=False)

In [177]:
col_ver = ['host_id', 'host_verifications']
host_ver = listings[col_ver]

In [ ]:
host_ver['host_verifications'] = host_ver['host_verifications'].str.replace('\'', '')
host_ver['host_verifications'] = host_ver['host_verifications'].str.replace(']', '')
host_ver['host_verifications'] = host_ver['host_verifications'].str.replace('[', '')

In [179]:
s=['host_verifications']
host_ver1=host_ver.drop(columns=s,axis=1)
for x in s:
    host_ver1=host_ver1.join(host_ver[x].str.split(',',expand=True).stack().reset_index(level=1,drop=True).rename(x))
host_ver1=host_ver1.reset_index(drop=True)

In [185]:
verification_type = host_ver1['host_verifications'].drop_duplicates().to_frame().reset_index()
verification_type = verification_type.drop(columns='index').reset_index()

In [186]:
verification_type.columns=['verification_id','host_verifications']
verification_type.to_csv("cleanedTable/verification_type.csv",index=False)
hasVerification = pd.merge(host_ver1, verification_type, on='host_verifications')
hasVerification.drop(columns='host_verifications').to_csv("cleanedTable/hasVerification.csv",index=False)

In [19]:
verification_type= pd.read_csv("cleanedTable/verification_type.csv")

In [23]:
verification_type['host_verifications'] = verification_type['host_verifications'].str.strip().fillna('none')

In [24]:
verification_type.to_csv("cleanedTable/host_verification.csv",index=False)

In [210]:
# neighborhood
neighbor_col = ['id', 'neighbourhood']
city_col = ['id', 'city']
country_col = ['id', 'country', 'country_code']
neighborhood = listings[neighbor_col]
city = listings[city_col]
country = listings[country_col]

In [205]:
country.drop(columns = 'id').drop_duplicates().to_csv("cleanedTable/country.csv",index=False)

In [213]:
city_entity = city.drop(columns='id').drop_duplicates()#.to_csv("cleanedTable/city.csv",index=False)

In [215]:
city_entity = city_entity.reset_index().drop(columns='index').reset_index()

In [221]:
city_entity.rename(columns={'index': 'city_code'}).to_csv("cleanedTable/city.csv",index=False)

In [224]:
city_entity = city_entity.rename(columns={'index': 'city_code'})

In [225]:
col = ['id', 'city', 'country','country_code']
located_country = pd.merge(listings[col],city_entity,on='city')

In [229]:
located_country.drop(columns=['id','city','country']).drop_duplicates().to_csv("cleanedTable/located_country.csv",index=False)

In [247]:
listings['neighbourhood'].to_frame().drop_duplicates().reset_index().drop(columns='index').reset_index().rename(columns={'index': 'neighbourhood_id'}).to_csv("cleanedTable/neighbourhood.csv",index=False)

In [248]:
neighbor_aux = listings['neighbourhood'].to_frame().drop_duplicates().reset_index().drop(columns='index').reset_index().rename(columns={'index': 'neighbourhood_id'})

In [250]:
col_located_city = ['id','neighbourhood','city']
located_city = pd.merge(listings[col_located_city],neighbor_aux,on='neighbourhood')

In [254]:
city_ = pd.read_csv("cleanedTable/city.csv")
located_city2 = pd.merge(located_city, city_, on='city')

In [257]:
located_city2.drop(columns=['id','neighbourhood','city']).to_csv("cleanedTable/locatedCity.csv",index=False)

In [260]:
neighb_col = ['id','neighbourhood']
neighbor = pd.read_csv('cleanedTable/neighbourhood.csv')
pd.merge(listings[neighbor_col],neighbor,on='neighbourhood').drop(columns='neighbourhood').to_csv("cleanedTable/locatedNeighborhood.csv",index=False)

In [269]:
reviews = pd.read_csv('cleanedTable/reviews.csv')

In [274]:
reviewer_col = ['reviewer_id', 'reviewer_name']
reviewer = reviews[reviewer_col].drop_duplicates()

In [276]:
reviewer.to_csv("cleanedTable/reviewer.csv",index=False)

In [281]:
reviewed_col = ['id','reviewer_id','listing_id','date','comments']
reviewed = reviews[reviewed_col]

In [283]:
reviewed.to_csv("cleanedTable/reviewed.csv",index=False)

In [ ]:
response_col = ['host_id','host_response_time']
listings[response_col]

In [297]:
response_type = listings['host_response_time'].drop_duplicates().to_frame().reset_index().drop(columns='index').reset_index().rename(columns={'index': 'response_id'})

In [9]:
response_type = pd.read_csv("cleanedTable/response_type.csv")
response_type = response_type.fillna("none")

In [11]:
response_type.to_csv("cleanedTable/response_type.csv",index=False)

In [303]:
hasResponse = pd.merge(listings[response_col],response_type, on='host_response_time').drop(columns='host_response_time')

In [304]:
hasResponse.to_csv("cleanedTable/hasResponse.csv",index=False)

In [34]:
listings = pandas.read_csv('cleanedTable/listings.csv')

In [35]:
host_col = ["host_id","host_name","host_since","host_about","host_picture_url",
"host_thumbnail_url","host_neighbourhood","host_url","host_response_rate"]

In [44]:
host = listings[host_col]

In [ ]:
host['host_response_rate'] = host['host_response_rate'].fillna("-1%")

In [46]:
host.to_csv("cleanedTable/host.csv",index=False)

In [47]:
calendar = pd.read_csv("cleanedTable/calendar.csv")

In [48]:
calendar.head()

   listing_id        date available   price
0       19864  2019-11-06         t  $48.00
1       19864  2019-11-05         t  $48.00
2       19864  2019-11-04         t  $71.00
3       19864  2019-11-03         t  $77.00
4       19864  2019-11-02         t  $80.00

In [69]:
neighbourhood = listings['neighbourhood'].drop_duplicates().to_frame().reset_index().drop(columns='index').reset_index().rename(columns={'index': 'neighbourhood_id'})

In [70]:
neighbourhood.to_csv("cleanedTable/neighbourhood.csv",index=False)

In [71]:
city = listings['city'].drop_duplicates().to_frame().reset_index().drop(columns='index').reset_index().rename(columns={'index': 'city_id'})

In [72]:
city.to_csv("cleanedTable/city.csv",index=False)

In [73]:
country = listings['country'].drop_duplicates().to_frame().reset_index().drop(columns='index').reset_index().rename(columns={'index': 'country_id'})

In [74]:
country.to_csv("cleanedTable/country.csv",index=False)

In [75]:
listing_col = ["id","host_id","name","review_scores_rating", "cleaning_fee", 
"minimum_nights", "square_feet", "review_scores_cleanliness", "review_scores_accuracy", 
"review_scores_value", "review_scores_location", "require_guest_phone_verification",
"price", "accommodates", "security_deposit",
"review_scores_checkin", "review_scores_communication", "maximum_nights", "guests_included",
"monthly_price", "bathrooms", "bedrooms", "weekly_price", "extra_people",
"property_type","room_type","bed_type","cancellation_policy","neighbourhood","city","country",
"is_business_travel_ready",
"longitude", "latitude", "house_rules", "summary", "transit", "amenities",
"space", "access", "neighborhood_overview", "picture_url", "notes"]

In [76]:
listing = listings[listing_col]

In [77]:
#merge listing and cancellation
cancellation = pd.read_csv("cleanedTable/cancellation_policy.csv")
l_ca = pd.merge(listing, cancellation,on="cancellation_policy")

In [82]:
# merge room_type
room = pd.read_csv("cleanedTable/room_type.csv")
l_ca_rm = pd.merge(l_ca, room, on="room_type")

In [83]:
# merge bed type
bed = pd.read_csv("cleanedTable/bed_type.csv")
l_ca_rm_bed = pd.merge(l_ca_rm, bed, on="bed_type")

In [84]:
# merge property——type
proper = pd.read_csv("cleanedTable/property_type.csv")
l_ca_rm_bed_proper = pd.merge(l_ca_rm_bed, proper, on="property_type")

In [86]:
# merge neighbor
nei = pd.read_csv("cleanedTable/neighbourhood.csv")
l_ca_rm_bed_proper_nei = pd.merge(l_ca_rm_bed_proper, nei, on="neighbourhood")

In [87]:
# merge neighbor
ct = pd.read_csv("cleanedTable/city.csv")
l_ca_rm_bed_proper_nei_city = pd.merge(l_ca_rm_bed_proper_nei, ct, on="city")

In [88]:
# merge neighbor
count = pd.read_csv("cleanedTable/country.csv")
l_ca_rm_bed_proper_nei_city_count = pd.merge(l_ca_rm_bed_proper_nei_city, count, on="country")

In [91]:
drop_col = ["cancellation_policy","room_type","bed_type","property_type","neighbourhood","country","city"]

In [101]:
merged_listing = l_ca_rm_bed_proper_nei_city_count.drop(columns = drop_col)

In [103]:
merged_listing.to_csv("cleanedTable/listing.csv",index=False)